@model Castano.Web.Models.Login
@{
    ViewBag.Title = "Login Pedido CASTANO & asociados";
}
<div class="body">
    <!-- Navigation -->
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Index", "Home")">
                    <img alt="castano&asociados" src="~/img/logo.jpg" style="max-width: 250px" />
                </a>
            </div>
        </nav>
    </div>
    <section>
        <div class="jumbotron">
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-dismissible fade show alert-danger" role="alert" id="AlertMensaje">
                    <strong id="AlertTitle">Error!</strong> @ViewBag.Error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <div class="container mt-5 mb-5">
                <div class="well no-padding">
                    @using (Html.BeginForm("Login", "Pedido", null, FormMethod.Post, new { id = "LoginForm", @class = "animated fadeInDown" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Usuario", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6LfBQOIUAAAAAKvtRuZM54-NOigyvZWyd2YGGY2g"></div>
                        </div>

                        <button type="submit" class="btn btn-primary" id="btnSubmit">Ingresar</button>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-validator")
    @Scripts.Render("~/bundles/jquery-blockUI")
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#LoginForm").submit(function () {
                $.blockUI({ message: '<h3>Aguarde un momento por favor...</h3>' });
            });
        });
    </script>
}
