<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("content", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163609936-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-163609936-1');
    </script>
</head>

<body id="page-top">

    @RenderBody()

    <hr />

    <footer id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div id="fb-root"></div>
                    <div class="fb-page" data-href="https://www.facebook.com/CASTANO-asociados-154095021324925/" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/CASTANO-asociados-154095021324925/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/CASTANO-asociados-154095021324925/">CASTANO &amp; asociados</a>
                        </blockquote>
                    </div>
                </div>
                <div class="col-lg-2 text-primary text-center">
                    <i class="fas fa-map-marker-alt fa-3x mb-3 sr-icon-1"></i>
                    <p>Rosario, Santa Fe</p>
                    <p>2000</p>
                </div>
                <div class="col-lg-2 text-primary text-center">
                    <i class="fas fa-phone fa-3x mb-3 sr-icon-2"></i>
                    <p>&nbsp;(0341)155-505917</p>
                </div>
                <div class="col-lg-3 text-primary text-center">
                    <i class="fas fa-envelope fa-3x mb-3 sr-icon-3"></i>
                    <p>
                        &nbsp;<a href="mailto:info@castanoyasociados.com.ar?subject=Contacto%20CastanoWeb&body=Hola!%20Me%20contacto%20para%20hacer%20la%20siguiente%20consulta%20...">info@castanoyasociados.com.ar</a>
                    </p>
                </div>
            </div>
        </div>
        
        <hr class="my-4">

        <div class="col-lg-12 mr-auto text-center">
            <h5 class="text-center">
                CASTANO &amp; asociados &copy; @DateTime.Now.Year
            </h5>
        </div>
        <div class="mr-auto float-right">
            <small>
                Diseño y desarrollo:
                <a href="mailto:casasmanuj@gmail.com.ar?subject=Contacto%20CastanoWeb">
                    Manuel J. Casas
                </a>
            </small>
        </div>
    </footer>

    <!--Facebook plugin-->
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    @Scripts.Render("~/bundles/numeral")
    @Scripts.Render("~/bundles/bootstrap-datetime")
    <!-- Plugin JavaScript -->
    @Scripts.Render("~/bundles/jquery-easing")
    @Scripts.Render("~/bundles/scrollreveal")
    @Scripts.Render("~/bundles/magnific-popup")
    <!-- Custom scripts for this template -->
    @Scripts.Render("~/bundles/creative")

    @RenderSection("scripts", required: false)
</body>
</html>
